{% extends "base.html" %}
{% load static %}
{% load social_share %}

{% block content %}

<div class="item-details">
  {% for WishListItem in object_list %}

            {% if not WishListItem.item_photo %}

                  <img src="/home/static/DEFAULT_IMAGE.png" style="width:250px;height:250px;">
                  </a>
                {% else %}
                  <img src="{{ WishListItem.photo_prefix }}{{ WishListItem.item_photo }}" style="width:250px;height:250px;"></a>
                {% endif %}


  <p></p>
    <b>Wish List Item: {{ WishListItem.name }}</b>
    {% endfor %}

  {% for WishListItem in object_list %}
    <p></p>
    <p></p>
    <p>Store: {{ WishListItem.store }}<br></p>

    <p>Price: {{ WishListItem.price }}</p>
    {% if WishListItem.item_url %}

      {% if WishListItem.store == "Amazon" and WishListItem.item_url|slice:"0:4" != 'http' %}



              <p>URL: <a href = 'https://www.amazon.com/dp/{{ WishListItem.item_url }}'>{{ WishListItem.item_url }}</a></p>

      {% elif WishListItem.store == "Walmart" and WishListItem.item_url|slice:"0:4" != 'http' %}


              <p>URL: <a href = 'https://www.walmart.com/ip/{{ WishListItem.item_url }}'>{{ WishListItem.item_url }}</a></p>



      {% elif not WishListItem.store %}

       {% else %}

              <p>URL: <a href = '{{ WishListItem.item_url }}'>{{ WishListItem.item_url }}</a></p>

      {% endif %}

  {% endif %}




    <form action="{% url 'delete' WishListItem.id %}" method="post">{% csrf_token %}<button type="submit">Delete From Wish List🗑</button></form>




    <p>{% send_email WishListItem.name "Wish List Item: {{WishListItem.name}} Check it out!" WishListItem.name "mailto://📧’." %}</p>
    <p>{% post_to_twitter "Wish List Item: {{WishListItem.name}}" "Check it out!" "Tweet This 💬" %}</p>
    <p>{% post_to_facebook "Wish List Item: {{WishListItem.name}}" "Post to Facebook ✍" %}</p>
    <p></p>
    <p></p>

    {% endfor %}


    <script>
      function generate_tags(id) {
        id = id
        $.ajax({
          url: 'wish_list_item_details_tags/',
          success: function(data) {
            $('#DetailView').html(data);
          }
        });
      };
    </script>

  {% for WishListItem in object_list %}    tagged in:{% for tag in WishListItem.tags.all %}<button type="button"><a href="{% url 'wish_list_item_tag_results' tag.name %}">{{ tag.name }}</a></button>{% endfor %}

  {% endfor %}

</div>
{% endblock content %}