{% extends "base.html" %}
{% load static %}
{% load social_share %}

{% block content %}
<h1>Wish List</h1>

<a href="{% url 'wish_list_add' %}"><button type="submit">Add An Item ❤</button></a>
<br>
<br>
<form action="{% url 'wish_list_search_results' %}" method="get">
  <input name="q" type="text" placeholder="Search in Your Wish List...">
</form>

<br>


Share Your Wishlist: {% send_email WishListItem.name "Wish List Item: {{object_list}} Check it out!" WishListItem.name "mailto://📧’." %}  |  {% post_to_twitter "Wish List Item: {{object_list}}" "Check it out!" "Tweet This 💬" %}  |  {% post_to_facebook "Wish List Item: {{object_list}}" "Post to Facebook ✍" %}


<script>
function insertAfter(referenceNode, newNode) {
  referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);

}

var collection = document.getElementsByClassName("mail-this");
var child = collection[0].firstElementChild;
insertAfter(collection[0], child);
collection[0].remove();

collection = document.getElementsByClassName("tweet-this");
child = collection[0].firstElementChild;
insertAfter(collection[0], child);
collection[0].remove();

collection = document.getElementsByClassName("facebook-this");
child = collection[0].firstElementChild;
insertAfter(collection[0], child);
collection[0].remove();

</script>

<div class="wish-list-items">
  <span class="grid-container">
  {% for WishListItem in object_list %}


      <div class="grid-item">
        <table>

          <tr id="table-image"><td><a href="{% url 'wish_list_item_details' id=WishListItem.id %}">


            {% if not WishListItem.item_photo %}

                  <img src="/home/static/DEFAULT_IMAGE.png" style="width:250px;height:250px;">
                  </a>
                {% else %}
                  <img src="{{ WishListItem.photo_prefix }}{{ WishListItem.item_photo }}" style="width:250px;height:250px;"></a>
                {% endif %}


          </td><td></tr>
        <tr><td><a href="{% url 'wish_list_item_details' id=WishListItem.id %}">{{ WishListItem.name }}</a><td></tr>
          <tr><td><form action="{% url 'delete' WishListItem.id %}" method="post"><br><br> Price: {{ WishListItem.price }}{% csrf_token %}
            <br><br><button type="submit">Delete Item 🗑</button></form><td></tr>

        </table>
      </div>
  {% endfor %}
    </span>
  </div>



{% endblock content %}