# Citation for the file:
# This file is boilerplate code from https://docs.scrapy.org
# Date: 3/12/2022
# Source URL: https://docs.scrapy.org/en/latest/intro/install.html


# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = tutorial.settings

[deploy]
#url = http://localhost:6800/
project = tutorial
