{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <time class="date">
                {{ post.published_date }}
            </time>

            <! ––
            Link from a post title in the post list to the post's detail page
            uses Django template tags to create a URL
            expects a URL in blog/urls.py with the name=post_detail
            access pk for primary key of post in database with post.pk
            ––>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
{% endblock %}