<! –– Citation for the following code: ––>
<! –– Date: 3/12/2022 ––>
<! –– Modified from: ––>
<! –– Source URL: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Authentication ––>



{% extends "base.html" %}

{% block content %}
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-default btn-lg" value="Reset password">
  </form>
{% endblock %}